<div class="json-viewer">
  <div class="json-viewer-header">
    <span class="json-viewer-title">JSON</span>
    <p-button
      label="Copy"
      icon="pi pi-copy"
      size="small"
      severity="secondary"
      [outlined]="true"
      (onClick)="copyToClipboard()"
      [disabled]="isEmpty"
      pTooltip="Copy to clipboard"
    />
  </div>

  @if (isEmpty) {
    <div class="json-viewer-empty">{{ emptyMessage }}</div>
  } @else {
    <pre class="json-viewer-content">{{ displayValue }}</pre>
  }
</div>
